
* {
  margin:0;  
  padding:0;  
  box-sizing: border-box; /* medidas sao tomadas da borda */
}

  header, main, article {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: em;
  }
  
  header {
    background-color: #282828;
    color: aliceblue;
    position: sticky;
    justify-content: space-between;
    height: 10vh;
    padding: 1em;
    top: 0;
  }

  main {
      height: 90vh;
    background: purple;
  }
  
  article {
    height: 50vh;
    width: 100vw;
    background: rgb(204, 99, 78);
  }

  article p{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  article:last-child {
    background: black;
    color: white;
  }
  
  #poema{
  }

nav a {
    color: rgb(233, 18, 18);
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #424141;
    border-radius: 5px;
    color: rgb(252, 92, 92);
    padding: 7px;
}

footer {
    background-color: #302f2f;
    padding: 14px;
    color: rgb(233, 18, 18);
    text-align: center;
    margin: 0;
}
