body {
    background-color: rgb(75, 77, 77);
}
h1 {
    color: antiquewhite;
    font-size: 300px ;
    margin-top: 120px;
    text-align: center;
}
li{
    color: antiquewhite;
}
p {
    color: #ffffff;
    font-size: 30px ;
}
ul {
    font-size: 20px;
}

h2{
    color:#ffffff;
}
img{
    width: 1480px;
    height: 8px;
    margin: auto;
    margin-left: -10px;
}