body {
    background-color: rgb(60, 143, 143);
}
h1 {
    color: antiquewhite;
    font-size: 300px ;
    margin-top: 120px;
    text-align: center;
}
li{
    color: antiquewhite;
}
p {
    text-align: center;
    color: #ffffff;
    font-size: 30px ;
}
ul {
    margin: auto;
    font-size: 20px;
    margin-left: 50px;
}

h2{
    color: #ffffff;
    text-align: center;
}
img{
    margin: auto;
    margin-left: -10px;
}