
* {box-sizing: border-box; padding: 0; margin: 0;}
header {grid-area: header-area;}
nav {grid-area: menu; background-color: rgb(47, 47, 56);}
aside {grid-area: aside-area; background-color: rgb(255, 255, 255);}
main {grid-area: main-area; background-color: aliceblue;}
footer {grid-area: footer-area; background-color: rgb(47, 47, 56);}
/*image opacity transition */
@keyframes slide {
    0% {
        background-image: url('/lab6/images/montijo2_grande.jpg');
        opacity: 1;
    }

    15% {
        opacity: 0.5;
    }

    30% {
        opacity: 1;
    }

    33% {
        background-image: url('/lab6/images/montijo1_grande.jpg');
    }

    45% {
        opacity: 0.5;
    }

    60% {
        opacity: 1;
    }

    63% {
        background-image: url('/lab6/images/montijo3_grande.jpg');
    }

    75% {
        opacity: 0.5;
    }

    90% {
        opacity: 1;
    }

    100% {
        background-image: url('/lab6/images/montijo2_grande.jpg');
        opacity: 1;
    }
}

/* mobile */
@media only screen and (max-width: 767px) and (orientation:portrait) {
    body {
        background-color: rgb(218, 128, 128);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'header-area'
            'menu-area'
            'aside-area'
            'main-area'
            'footer-area';
    }

    header h1 {
        grid-area: header-area;
        background-color: rgba(160, 35, 35, 0.825);
        text-align: center;
        padding: 15px;
        text-transform: uppercase;
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-family: monospace;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        grid-area: menu-area;
        background-color: #302f2f;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menu {
        position: relative;
    }

    .menubtn {
        font-size: 23px;
        border: none;
        color: white;
        padding: 6px;
        padding-left: 10px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        cursor: pointer;
    }

    .menu-content {
        display: none;
        position: absolute;
        background-color: #302f2ff3;
        border-radius: 0px 0px 10px 0px;
        z-index: 1;
    }

    .menu-content a {
        color: rgb(201, 19, 19);
        padding: 12px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .menu-content a:hover {
        background-color: #3b3b3bc7;
        color: rgb(247, 68, 68);
        padding: 12px;
        border-radius: 10px;
    }

    .menubtn:hover+.menu-content {
        display: block;
    }

    .menu-content:hover {
        display: block;
    }

    main {
        grid-area: main-area;
        background-color: aliceblue;
        color: black;
        border-radius: 14px;
        padding: 20px;
        margin: 10px;
    }

    main p {
        font-family: cursive;
    }

    main a {
        color: rgb(233, 18, 18);
        text-decoration: none;
        font-size: 18px;
        margin: 5px;
    }

    main a:hover {
        background-color: #e9e9e97e;
        border-radius: 5px;
        color: rgb(252, 92, 92);
        padding: 7px;
    }


    main h2 {
        color: rgb(201, 19, 19);
    }

    main h3 {
        color: rgba(233, 18, 18, 0.703);
    }

    main div p {
        padding-top: 10px;
        font-size: 15px;
    }

    footer {
        width: 100%;
        height: 100%;
        grid-area: footer-area;
        background-color: #302f2f;
        padding: 14px;
        color: rgb(233, 18, 18);
        text-align: center;
    }

    .back {
        background-color: aliceblue;
        color: black;
        border-radius: 8px;
    }

    .back h2 {
        background-color: rgb(208, 116, 116);
        color: rgb(244, 243, 243);
        text-align: center;
        margin: 10px 30px;
        padding: 10px;
        font-size: 20px;
        border-radius: 8px;
    }

    .back fieldset {
        background-color: rgb(230, 230, 230);
        border-radius: 8px;
        border: none;
        padding: 10px;
        margin: 10px;
    }

    .back p {
        padding: 10px;
        font-size: 15px;
        color: rgba(146, 0, 0, 0.621);
    }

    .back ul li{
        margin: 30px;
        color: rgba(146, 0, 0, 0.621);
    }

    .back li {
        font-size: 15px;
    }

    .back ol li{
        margin: 30px;
        color: rgba(146, 0, 0, 0.621);
    }

    .back iframe {
       display: none;
    }

    .back ol {
        list-style-type: upper-roman;
    }

    .back ul {
        list-style-type: square;
    }

    
    .back:last-child,.back:nth-child(5), .visita-table {
        display: none;
    }
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: rgb(218, 128, 128);
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 10fr;        
        grid-template-areas:
            'header-area header-area'
            'menu-area aside-area'
            'menu-area main-area'
            'footer-area footer-area';
    }

    header h1 {
        grid-area: header-area;
        background-color: rgba(160, 35, 35, 0.825);
        text-align: center;
        padding: 15px;
        text-transform: uppercase;
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-family: monospace;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        grid-area: menu-area;
        background-color: #302f2f;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: auto;
    }

    .menu {
        position: relative;
    }

    .menubtn {
        display: none;
    }

    .menu-content {
        background-color: #302f2ff3;
        width: 100%;
    }

    .menu-content a {
        color: rgb(201, 19, 19);
        padding: 12px;
        text-decoration: none;
        display: block;
    }

    .menu-content a:hover {
        background-color: #3b3b3bc7;
        color: rgb(247, 68, 68);
        padding: 15px;
        border-radius: 10px;
    }

    aside {
        grid-area: aside-area;
        padding: 10px;
        background-color: inherit;
        text-align: center;
        height: 230px;
    }

    aside img {
        display: none;
    }

    .slides {
        width: 60%;
        height: 100%;
        margin: 0 100px;
        background-position: center;
        animation: slide 15s ease-in-out infinite;
        border-radius: 10px;
    }

    main {
        grid-area: main-area;
        background-color: aliceblue;
        color: black;
        border-radius: 14px;
        padding: 15px;
        margin: 20px 50px 20px 55px; 
    }

    main p {
        font-size: 90%;
    }

    main a {
        color: rgb(233, 18, 18);
        text-decoration: none;
        font-size: 18px;
        margin: 5px;
    }

    main a:hover {
        background-color: #e9e9e97e;
        border-radius: 5px;
        color: rgb(252, 92, 92);
        padding: 7px;
    }

    main iframe {
        width: 55%;
        height: auto;
    }

    main p a:first-child {
        display: none;
    }

    main div p::first-letter {
        color: rgba(233, 18, 18, 0.703);
    }

    main p {
        margin: 10px;
    }

    main h2 {
        color: rgb(201, 19, 19);
    }

    main h3 {
        color: rgba(233, 18, 18, 0.703);
    }

    footer {
        grid-area: footer-area;
        background-color: #302f2f;
        padding: 19px;
        width: 100%;
        height: 100%;
        color: rgb(233, 18, 18);
        text-align: center;
    }

    .back {
        background-color: aliceblue;
        color: black;
        border-radius: 8px;
    }

    .back h2 {
        background-color: rgb(208, 116, 116);
        color: rgb(244, 243, 243);
        text-align: center;
        margin: 10px 30px;
        padding: 10px;
        font-size: 20px;
        border-radius: 8px;
    }

    .back fieldset {
        background-color: rgb(230, 230, 230);
        border-radius: 8px;
        border: none;
        padding: 10px;
        margin: 10px;
    }

    .back p {
        padding: 10px;
        font-size: 15px;
        color: rgba(146, 0, 0, 0.621);
    }

    .back ul li{
        margin: 30px;
        color: rgba(146, 0, 0, 0.621);
    }

    .back li {
        font-size: 15px;
    }

    .back ol li{
        margin: 30px;
        color: rgba(146, 0, 0, 0.621);
    }

    .back iframe {
       display: none;
    }

    .back ol {
        list-style-type: upper-roman;
    }

    .back ul {
        list-style-type: square;
    }

    
    .back:last-child,.back:nth-child(5), .visita-table {
        display: none;
    }
}

/*portátil*/
@media only screen and (min-width: 1024px) and (max-width: 2559px){
    body {
        background-color: rgb(218, 128, 128);
        color: rgb(218, 210, 210);
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 70px 55px 1fr 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
            'header-area'
            'menu-area'
            'main-area '
            'footer-area';
    }


    header{
        grid-area: header-area;
        background-color: rgba(160, 35, 35, 0.825);
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        padding: 10px;
        width: 100%;
        color: rgb(255, 255, 255);
        font-family: monospace;
    }

    nav {
        grid-area: menu-area;
        background-color: #302f2f;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }

    .menu {
        position: relative;
    }

    .menubtn {
        font-size: 30px;
        border: none;
        color: white;
        padding: 6px;
        padding-left: 10px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        cursor: pointer;
    }

    .menu-content {
        display: none;
        background-color: #302f2ff3;
        border-radius: 0px 0px 10px 0px;
        z-index: 1;
    }

    .menu-content a {
        color: rgb(201, 19, 19);
        padding: 12px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    .menu-content a:hover {
        background-color: #3b3b3bc7;
        color: rgb(247, 68, 68);
        padding: 12px;
        border-radius: 10px;
    }

    .menubtn:hover + .menu-content {
        display: block;
    }

    .menu-content:hover {
        display: block;
    }

    aside {
        grid-area: aside-area;
        padding: 10px;
        background-color: inherit;
        text-align: center;
        height: 210px;
    }

    aside img {
        border-radius: 5%;
        margin-top: 20px;
        margin-left: 10px;
        width: auto;
        height: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }

    main {
        grid-area: main-area;
        background-color: aliceblue;
        color: black;
        width: 90%;
        border-radius: 14px;
        padding: 30px;
        padding-left: 30px;
        margin: auto;
        width: auto;
        margin-bottom: 40px;
        margin-top: 40px;
    }    

    

    main p {
        font-family: cursive;
    }

    main a {
        color: rgb(233, 18, 18);
        text-decoration: none;
        font-size: 18px;
        margin: 5px;
    }

    main a:hover {
        background-color: #e9e9e97e;
        border-radius: 5px;
        color: rgb(252, 92, 92);
        padding: 7px;
    }

    main iframe {
        width: auto;
        height: auto;
    }

    main p {
        margin: 10px;
    }



    main h2 {
        color: rgb(201, 19, 19);
    }


    main div p {
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .format{
        width: auto;
    }

    footer {
        grid-area: footer-area;
        width: 100%;
        height: 100%;
        grid-area: footer-area;
        background-color: #302f2f;
        padding: 14px;
        color: rgb(233, 18, 18);
        text-align: center;
    }

    .back {
        background-color: aliceblue;
        color: black;
        border-radius: 8px;
        padding: 10px
    }

    .back h2 {
        background-color: rgb(208, 116, 116);
        color: rgb(244, 243, 243);
        text-align: center;
        margin: 10px 30px;
        padding: 10px;
        font-size: 20px;
        border-radius: 8px;
        max-width: 20%;
    }

    .back fieldset{
        background-color: rgb(230, 230, 230);
        border-radius: 8px;
        border: none;
        width: auto;
        padding: 10px;
        margin: 10px;
    }

    .back p{
        padding: 10px;
        font-size: 15px;
        color: rgba(146, 0, 0, 0.621);
    }

    .back ul li{
        margin: 30px;
        color: rgba(146, 0, 0, 0.621);
    }

    .back li {
        font-size: 15px;
    }

    .back ol li{
        margin: 30px;
        color: rgba(146, 0, 0, 0.621);
    }

    .back iframe {
       display: none;
    }

    .back ol {
        list-style-type: upper-roman;
    }

    .back ul {
        list-style-type: square;
    }

    .back:nth-child(5){
        display: none;
    }

      .visita-table {
        width: 60%;
        margin: 20px auto;
        border-collapse: collapse;
        border: 2px solid #ddd;
        border-radius: 20px;
        overflow: hidden;
    }
    
    .visita-table th, .visita-table td {
        padding: 12px 15px;
        text-align: left;
    }
    
    .visita-table thead th {
        background-color:rgb(208, 116, 116);
        color: rgb(255, 255, 255);
    }
    
    .visita-table tbody td {
        background-color: #f9f9f9;
    }
    
    .visita-table tr:nth-child(2n) td:nth-child(n) {
        background-color: #d8b7b7; /* Cor de fundo para colunas ímpares nas linhas pares */
    }
    
    .visita-table th, .visita-table td {
        border: 1px solid #ddd;
    }

}

/*4k*/
@media only screen and (min-width:2560px) {}