*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav a {
    color: rgb(240, 147, 17);
    margin-left: 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: rgba(154, 128, 91, 0.789);
    border-radius: 5px;
    color: rgb(237, 172, 80);
    padding: 7px;
  }

body{
    background-color: rgb(218, 210, 209);
    font-size: 20px;
    margin: 60px;
}

select{
    margin-left: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

li{
    padding-top: 30px;
}

button{
    background-color: aliceblue;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
}

button:hover{
    background-color: rgb(201, 201, 203);
    cursor:grab;
}

input{
    border: 2px solid black;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:10px;
    font-size: 20px;
    width: 30%;
    margin-bottom: 10px;
}

label{
    padding-left: 10px;
}

input[type="submit"]{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

input[type="submit"]:hover{
    background-color: rgb(201, 201, 203);
    cursor: pointer;
}

form{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#message{
    font-size: 20px;
    margin-top: 10px;
    padding-left: 13px;
}